## https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

## https://github.com/github/gitignore/blob/master/Global/Windows.gitignore

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

## https://github.com/github/gitignore/blob/master/Global/TextMate.gitignore

*.tmproj
*.tmproject
tmtags

## https://github.com/github/gitignore/blob/master/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim

## https://github.com/github/gitignore/blob/master/Objective-C.gitignore

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
*.xcuserstate
